<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digitalmodularbanking.mynote">

    <application
            android:name=".NoteApplication"
            android:label="@string/app_name"
            android:theme="@style/MyNoteTheme">

        <activity
                android:name=".feature.presentation.MainActivity"
                android:launchMode="singleTop"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:authorities="com.digitalmodularbanking.mynote.androidx-startup"
                android:name="androidx.startup.InitializationProvider"
                android:exported="false"
                tools:node="merge">

            <meta-data
                android:name="com.digitalmodularbanking.mynote.feature.initializers.TimberInitializer"
                android:value="androidx.startup"/>

        </provider>

    </application>
</manifest>